:root {
  --font: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  --white: #fff;
  --black: #000;
  --maroon: #83333e;
  --off-white: #f2f4f5;
}
#blacktext{
  color: black;
}
.leftside {
  width: 50%;
  float: left;
  height: 100%;
}
.rightside {
  width: 50%;
  float: right;
  height: 100%;
}
.static {
  height: 200px;
  width: 400px;
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 10px;
}
.intro {
  height: 95vh;
  background-color: #ffffff;
  padding: 24px;
  display: flex;
  flex-direction: row;
 
  .name-text {
    font-size: 64px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--black);
    text-align: center;
    mix-blend-mode: difference;
  }
  .intro-image {
    width: 70vh;
    animation: moveRight 2.5s forwards;
  }
  .shortDesciption {
    margin-top: 5%;
    font-size: 30px;
    animation: moveLeft 2.5s forwards;
    color: var(--black);
    margin-left: 350px;
  }
  .main-text {
    margin-top: 10%;
    font-size: 70px;
    margin-left: 350px;
    font-weight: 700;
    color: var(--black);
    animation: moveLeft 2s forwards;
   
  }

   
}
  @media only screen and (max-width: 1500px) {
    .main-text {
      font-size: 50px !important;
    }
    .shortDesciption {
      font-size: 20px !important;
    }
  }



@keyframes moveLeft {
  0% {
    transform: translateX(100px);
  }

  100% {
    transform: translateX(-100px);
  }
}
@keyframes moveRight {
  0% {
  }

  100% {
    transform: translateX(200px);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.animate1 {
  animation: fadeIn 0.5s forwards;
}
.animate2 {
  animation: fadeIn 1.5s forwards;
}
.animate3 {
  animation: fadeIn 0.5s forwards;
}

.center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.background {
  background-image: var(--black);
  background-size: cover;
  width: 100%;
}
.slideshow-text {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  color: var(--white);
  text-align: center;
  mix-blend-mode: difference;
}
.body-text {
  position: relative;
  font-size: 64px;
  font-weight: 700;
  color: var(--white);
  text-align: center;
  mix-blend-mode: difference;
}
.workexperience {
  width: 100%;
  background: var(--black);
  padding: 80px 72px 80px;
}
.worktitle {
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 8px;
  color: #8491a0;
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
}
.worktitle1 {
  display: inline-block;
  width: 100%;
  max-width: 780px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-size: 36px;
  line-height: 110%;
}
.workcard {
  display: flex;
}
.aboutme {
  width: 100%;
  background-color: #ffffff;
  
  padding: 20px 18px 20px;
  height: 600px;
  .title{
    color: black;
    width: 100%;
    height : 70px;
    text-align: center;
  }
  .program-img{
    margin-right: 0.5rem;
    float: right;
    width: 50%;
    padding: 0.5rem;
  }
  .aboutimage {
      width: 100%;
  }
  
    .aboutpara {
      margin-top: 7rem;
      font-size: 18px;
      width: 40%;
      margin-left: 0.5rem;
    }
}
.slideshow {
  position: relative;
  height: 500px;
  padding-left: 25%;
  #slide {
    width: 890px;
    height: 500px;
  }

  .slideshow-text {
    top: 50px;
    position: relative;
    font-size: 8vh;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--white);
    transform: translateY(-50%);
    text-align: center;
    mix-blend-mode: difference;
  }
  .body-text {
    top: 50%;
    position: relative;
    font-size: 2vh;
    font-weight: 700;
    color: var(--white);
    transform: translateY(-100%);
    text-align: center;
  }
}

footer {
  .page-end {
    background: var(--black);
    height: 50px;
    display: flex;
    align-items: center;
  }
}
